@import 'reset.css';

html, body {
  margin: 0;
  height: 100%;
}

/* make the root div fill the body */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.moving-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  background-size: 150%;
  background-image: url(https://t4.ftcdn.net/jpg/07/62/97/85/360_F_762978547_GvdI9ynWM8oDKlYGkPSGSCnhAiMBuicc.jpg);
}