@import 'reset.css';

html, body {
  margin: 0;
  height: 100%;
}

/* make the root div fill the body */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.moving-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  background-size: 150%;
  background-image: url(https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg);
}